

<ion-content [fullscreen]="true">

    <app-codigoqr *ngIf="selectedComponent === 'codigoqr'" (scanned)="webQrScanned($event)"
    (stopped)="webQrStopped()"></app-codigoqr>
    <app-miclase *ngIf="selectedComponent === 'miclase' && !isAdmin()"></app-miclase>
    <app-foro *ngIf="selectedComponent === 'foro'"></app-foro>
    <app-misdatos *ngIf="selectedComponent === 'misdatos'"></app-misdatos>
    <app-usuarios *ngIf="selectedComponent === 'usuarios' && isAdmin()"></app-usuarios>

</ion-content>

<ion-footer>
    <ion-toolbar id="barra">

        <ion-segment value="codigoqr" [(ngModel)]="selectedComponent" (ionChange)="segmentChange($event)">

            <ion-segment-button *ngIf="!isAdmin()" value="codigoqr">
                <ion-icon name="home-outline"></ion-icon>
                {{ 'Footer.Button.Home' | translate }}
            </ion-segment-button>

            <ion-segment-button *ngIf="!isAdmin()" value="miclase">
                <ion-icon name="school-outline"></ion-icon>
                {{ 'Footer.Button.MyClass' | translate }}
            </ion-segment-button>

            <ion-segment-button id="foro" value="foro">
                <ion-icon name="pencil-outline"></ion-icon>
                {{ 'Footer.Button.Forum' | translate }}
            </ion-segment-button>

            <ion-segment-button id="misdatos" value="misdatos">
                <ion-icon name="grid-outline"></ion-icon>
                {{ 'Footer.Button.MyData' | translate }}
            </ion-segment-button>

            <ion-segment-button *ngIf="isAdmin()" value="usuarios">
                <ion-icon name="grid-outline"></ion-icon>
                {{ 'Footer.Button.Usuarios' | translate }}
            </ion-segment-button>


        </ion-segment>
    </ion-toolbar>
</ion-footer>