<ion-content #page [fullscreen]="true" class="ion-padding-horizontal page">
    <ion-card class="content ion-text-center">

        <!-- Título de bienvenida y datos personales -->
        <div class="ion-padding-top">
            <h1 class="ion-text-center">¡{{ 'QR.Message.Welcome' | translate }} {{ usuario.nombre }} {{ usuario.apellido }}!</h1>
            <h4 class="ion-text-center">{{ 'MisDatos.Title' | translate }}</h4>
        </div>

        <!-- Campos del formulario -->
        <ion-item>
            <ion-input type="text" [(ngModel)]="usuario.cuenta" label="{{ 'MisDatos.Account' | translate }}" labelPlacement="floating" disabled="true"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="text" [(ngModel)]="usuario.nombre" label="{{ 'MisDatos.Name' | translate }}" labelPlacement="floating"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="text" [(ngModel)]="usuario.apellido" label="{{ 'MisDatos.LastName' | translate }}" labelPlacement="floating"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="text" [(ngModel)]="usuario.correo" label="{{ 'MisDatos.Email' | translate }}" labelPlacement="floating" disabled="true"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="text" [(ngModel)]="usuario.direccion" label="{{ 'MisDatos.Address' | translate }}" labelPlacement="floating"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="text" [(ngModel)]="usuario.preguntaSecreta" label="{{ 'MisDatos.Question' | translate }}" labelPlacement="floating"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="text" [(ngModel)]="usuario.respuestaSecreta" label="{{ 'MisDatos.Answer' | translate }}" labelPlacement="floating"></ion-input>
        </ion-item>

        <!-- Selector de Educación -->
        <ion-item>
            <ion-label position="floating">{{ 'MisDatos.Education' | translate }}</ion-label>
            <ion-select [(ngModel)]="usuario.nivelEducacional.id" interface="popover" style="width: 100%;">
                <ion-select-option *ngFor="let nivel of listaNivelesEducacionales" [value]="nivel.id">
                    {{ nivel.nombre }}
                </ion-select-option>
            </ion-select>
        </ion-item>

        <!-- Fecha de nacimiento -->
        <ion-item>
            <ion-label position="floating">{{ 'MisDatos.BirthDate' | translate }}</ion-label>
            <br>
            <ion-datetime [(ngModel)]="usuario.fechaNacimiento" name="fechaNacimiento" class="custom-datetime" presentation="date" displayFormat="DD/MM/YYYY" placeholder="dd/mm/yyyy" [preferWheel]="true">
            </ion-datetime>
        </ion-item>

        <ion-item>
            <ion-input [(ngModel)]="usuario.password" type="password" label="{{ 'MisDatos.Password' | translate }}" labelPlacement="floating"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input [(ngModel)]="repeticionPassword" type="password" label="{{ 'MisDatos.Password2' | translate }}" labelPlacement="floating"></ion-input>
        </ion-item>

        <!-- Botones de acción -->
        <div>
            <div class="ion-text-center ion-padding">
                <ion-button (click)="this.actualizarPerfil()" color="success">
                    {{ 'SAVE' | translate }}
                </ion-button>
            </div>
            <div>
                <ion-button id="salir" fill="clear" size="large" icon-only (click)="logout()">
                    <ion-icon name="log-out-outline" color="light"></ion-icon>
                </ion-button>
            </div>
        </div>
    </ion-card>
    <!-- No me siento orgulloso de esto pero elimina el
   scrollbar y permite el boton de logout -->
    <br>
    <br>
    <br>
    <br>

</ion-content>