<ion-content [fullscreen]="true">
  <ion-card *ngIf="clase; else noUsuarioTemplate">
    <ion-card-header>
      <h1 class="titulo_datos">{{ 'MiClase.Title' | translate }}</h1>
    </ion-card-header>

    <ion-card-content>
      <table class="asignatura-table">
        <tr>
          <td><strong>Sede:</strong></td>
          <td>{{ clase.sede }}</td>
        </tr>
        <tr>
          <td><strong>Sigla:</strong></td>
          <td>{{  clase.idAsignatura }}</td>
        </tr>
        <tr>
          <td><strong>Sección:</strong></td>
          <td>{{ clase.seccion }}</td>
        </tr>
        <tr>
          <td><strong>Nombre asignatura:</strong></td>
          <td>{{ clase.nombreAsignatura }}</td>
        </tr>
        <tr>
          <td><strong>Nombre profesor:</strong></td>
          <td>{{ clase.nombreProfesor }}</td>
        </tr>
        <tr>
          <td><strong>Día:</strong></td>
          <td>{{ clase.dia }}</td>
        </tr>
        <tr>
          <td><strong>Bloque Inicio:</strong></td>
          <td>{{ clase.bloqueInicio }}</td>
        </tr>
        <tr>
          <td><strong>Bloque Término:</strong></td>
          <td>{{ clase.bloqueTermino }}</td>
        </tr>
        <tr>
          <td><strong>Hora Inicio:</strong></td>
          <td>{{ clase.horaInicio }}</td>
        </tr>
        <tr>
          <td><strong>Hora Fin:</strong></td>
          <td>{{ clase.horaFin }}</td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>
  <br><br><br><br>
</ion-content>

<ng-template #noUsuarioTemplate>
  <p>{{ 'MiClase.NoData' | translate }}</p>
</ng-template>
