.asignatura-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .asignatura-table td {
    padding: 8px;
    vertical-align: top;
  }
  
  .asignatura-table td:first-child {
    font-weight: bold;
    width: 40%; /* Ajusta el ancho según lo necesites */
  }
  