<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-toolbar class="transparent-bg">
    <div slot="start" class="ion-margin">
      <app-language #selectLanguage></app-language>
    </div>
    <div slot="end" class="ion-margin">
      <ion-button shape="round" size="small" (click)="navigateTheme()">
        Tema
        <ion-icon slot="start" name="color-wand-outline"></ion-icon>
      </ion-button>
    </div>
   </ion-toolbar>  
    <ion-title class="text-with-background ion-text-center">Sistema de Asistencia Duoc</ion-title>

    <div>
        <div class="ion-padding-vertical">
            <ion-card class="ion-text-center">
                <img alt="DUOC" src="../../../assets/images/alonso-ovalle.jpg" class="foto-portada" />

                <ion-card-content>
                    <div class="text-with-background2">
                        <br>
                        <ion-card-subtitle color="black">INICIAR SESIÓN</ion-card-subtitle>
                        <br>
                      </div>
                      
                      <ion-item>
                        <ion-input label="Cuenta" labelPlacement="floating" [(ngModel)]="cuenta"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-input type="password" label="Password" labelPlacement="floating" [(ngModel)]="password"></ion-input>
                      </ion-item>
                      <ion-grid>
                        <ion-row>
                          <ion-col class="centrar">
                            <ion-button shape="round" size="medium" (click)="ingresar()">
                              <ion-icon name="person-circle"></ion-icon>
                              {{ 'Login.Button.Login' | translate }}
                            </ion-button>
                          </ion-col>
                        </ion-row>
                        <ion-label class="centrar">
                         <u> <a (click)="recuperarContrasena()">{{ 'Login.Button.ForgotPassword' | translate }}</a></u>
                        </ion-label>
                        <ion-label class="centrar">
                          <u><a (click)="ruta()">{{ 'Login.Button.gps' | translate }}</a></u>
                        </ion-label>
                      </ion-grid>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>